.blog {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    header{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      h1,h6{
        width: 50%;
        margin: 1rem;
      }
    }
    &__card-container{
      display: flex;
      margin-top: 2rem;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__card{
      margin: 1rem;
      width:  18rem;
      img{
        width: 100%;
        height: auto;
        border-radius: 4px;
      }
      &__tag{
        color: #f9884d;
        margin: 1rem 0 1rem 0;
      }
      footer{
        display: flex;
        font-size: 14px;
        margin-top: 1rem;
        p{
          margin-right: 1rem;
        }
      }
    }
  }
}


@media only screen and(max-width:800px) {
  .blog__container header h1{
    width: 100%;
  }
  .blog__container header h6 {  
    width: 100%;
  }
}