.subscribe {
  min-height: 95vh;
  background-color: #fcf7f3;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__left {
      width: 23rem;
      padding: 2rem;
      p {
        margin: 0;
        margin-top: 2rem;
      }
    }
    &__right {
      width: 25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &__card {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 2rem;
        width: 22rem;
        h4 {
          margin: 1rem 0 1rem 0;
        }
        label {
          color: #848486;
          font-size: 14px;
          margin: 8px 0 8px 0;
        }
        input {
          border: 1px solid gray;
          padding: 8px;
          margin-bottom: 8px;
        }
        button {
          border: none;
          background-color: #4643fa;
          padding: 8px 0 8px 0;
          color: white;
          margin-bottom: 1rem;
          margin-top: 8px;
          &:active {
            background-color: #322ffa;
          }
        }
        p {
          font-size: 14px;
        }
        span {
          color: #fa8548;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and(max-width:400px) {
  .subscribe__container__right__card{
    margin-bottom: 1rem;
  }
}
